Repository karinhawk/tune-tidbackend: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, isort, cfn-lint, safety, test, bandit

ruff:
  name: ruff
  entry: make ruff
  language: system

black:
  name: black
  entry: make black
  language: system

isort:
  name: isort
  entry: make isort
  language: system

cfn-lint:
  name: cloudformation lint
  entry: make cfn-lint
  language: system

safety:
  name: safety
  entry: make safety
  language: system

test:
  name: test
  entry: make test
  language: system

bandit:
  name: bandit
  entry: make bandit
  language: system

trying to make pre commit run
  .pre-commit-config.yaml
Due: none

pre commit running now
  Makefile
  reports/unit_test_report.xml
  requirements.txt
Due: none

add gitignore lol
  .gitignore
Due: none

added template yaml but need the code to deploy so might comment out at some point
  .flake8
  .github/workflows/ci.yml
  .gitignore
  .gitlab-ci.yml
  Makefile
  main.py
  reports/unit_test_report.xml
  scripts/newline_check.sh
  source/__init__.py
  template.yaml
  test/__init__.py
  tests/unit_tests/__init__.py
  tests/unit_tests/application/__init__.py
  tests/unit_tests/application/test_app.py
  tune_tidbackend/application/app.py
  utils/__init__.py
Due: ruff, black, isort, cfn-lint, test

add code for get random track
  .github/workflows/ci.yml
  .gitlab-ci.yml
  reports/unit_test_report.xml
  tune_tidbackend/application/app.py
  tune_tidbackend/application/get_random_track.py
  tune_tidbackend/application/play_random_track.py
  utils/BaseHandler.py
Due: ruff, black, isort, test

Path conditions:
  ruff: any of: (^\.ruff\.toml|\.py)$, but not: ^.aws-sam/
  black: any of: (^pyproject\.toml|\.py)$, but not: ^.aws-sam/
  isort: any of: (^pyproject\.toml|\.py)$, but not: ^.aws-sam/
  cfn-lint: any of: ^template.yaml$
  safety: any of: poetry.lock
  test: any of: (^pytest\.ini|^\.coveragerc|\.py)$, but not: ^.aws-sam/
  bandit: any of: (^\.bandit|^src\/.+\.py)$, but not: ^.aws-sam/
